<!--<div class="flex gap-4 flex-row absolute top-0 right-0 w-fit p-4">-->
<!--  <button (click)="this.stepService.back()" hlmBtn type="button">Prédédent</button>-->
<!--  <button (click)="this.stepService.next()" hlmBtn type="button">Suivant</button>-->
<!--</div>-->

@switch (this.stepService.get()) {
  @case (Steps.WELCOME) {
    <app-order-welcome/>
  }
  @case (Steps.SERVICE_MODE) {
    <app-order-service-mode/>
  }
  @case (Steps.AUTHENTICATION) {
    <app-order-authentification/>
  }
  @case (Steps.AUTHENTICATION_SCAN) {
    <app-order-authentification-scan/>
  }
  @case (Steps.AUTHENTICATION_CODE) {
    <app-order-authentification-code/>
  }
  @case (Steps.MENU) {
    <app-order-menu-layout/>
  }
  @case (Steps.CHECKOUT) {
    <app-order-checkout/>
  }
  @case (Steps.CONFIRMATION) {
    <app-order-confirmation/>
  }
}
