<div class="h-20 py-4 px-8 flex items-center justify-between gap-4">
  <img alt="logo" class="h-full" src="{{restaurantConfigStore.config()!.restaurant.logo}}"/>
  <div class="inline-flex gap-4">
    <button (click)="stepService.reset()" animation="pushShine" hlmBtn size="xxl" variant="terminalTertiary">abandonner
      la commande
    </button>
    <div class="relative">
      <button (click)="stepService.next()" animation="pushShine" hlmBtn size="icon" variant="terminalSecondary">
        <app-icon-basket size="26px"/>
      </button>

      @if (terminalOrderStore.totalItems() > 0) {
        <div
          class="absolute -top-1 -left-4 rounded-full bg-primary font-medium text-zinc-50 text-md size-8 flex items-center justify-center">
          {{ terminalOrderStore.totalItems() }}
        </div>
      }

    </div>
  </div>
</div>
