<div class="h-30 bg-zinc-50 p-4">
  <app-horizontal-slider
    customClass="flex flex-row flex-nowrap gap-16 h-full w-full justify-center-safe"
  >
    @for (category of terminalConfigStore.categories(); track category.uuid) {
      <button
        hlmBtn
        (click)="terminalConfigStore.setSelectedCategory(category)"
        [class]="terminalConfigStore.selectedCategory()  === category && 'text-primary'"
        variant="category"
        class="flex-none flex flex-col items-center"
      >
        <app-custom-icon path="{{category.iconUrl}}" class="h-20 w-auto"/>
        <p class="text-base font-semibold">{{ category.name }}</p>
      </button>
    }
  </app-horizontal-slider>
</div>
